<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>todo-list</title>
    <link rel="stylesheet" href="/todo.css">

</head>
<body>

    <h2>Todo List</h2>
    <a href="/create">
        <button class="new" >Add Todo</button>
    </a>

    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Title</th>
                <th>Deadline</th>
                <th>Completed</th>
            </tr>
        </thead>
        <tbody>
            <%data.forEach((item) => {%>
                <tr>
                    <td><%=item.ID%></td>
                    <td><%=item.Title%></td>
                    <td><%=item.Deadline%></td>
                    <td>
                        <input type="checkbox" 
                        <%= item.Status ? "checked" : "" %> 
                        onchange="updateCompletion(<%= item.ID %>, this)">
                    </td>
                </tr>

                <script>
                    function updateCompletion(id, checkbox) {
                        fetch(`/update/${id}`, {
                            method: "POST",
                            headers: { "Content-Type": "application/json" },
                            body: JSON.stringify({ status: checkbox.checked })
                        }).then(response => {
                            if (!response.ok) {
                                alert("Error updating todo");
                            }
                        }).catch(error => console.log(error));
                    }
                </script>
                
            <% }); %>
        </tbody>
    </table>

</body>
</html>