<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Countries</title>
    <link rel="stylesheet" href="countries.css">

</head>
<body>

    <div class="container">
        <h1>List of Countries</h1>
        <div class="row">
            <% data.forEach((item) => {%>
                <% image = "http://10.0.15.21:8000"+ item.flag%>
                <div class="country-card">
                    <img class="country-flag" src=<%=image%> alt="<%item.name%> Flag">
                    <h3><%= item.name %></h3>
                    <p>Capital: <%= item.capital %></p>
                    <p>Regions: <%= item.region %></p>
                    <p>Population: <%= item.population %></p>
                    <p>Area: <%= item.area %></p>
                    <p>CIOC: <%= item.cioc %></p>
                </div>
            <% }); %>
        </div>
    </div>

</body>
</html>