<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Users List</title>

    <style>

        * {
            font-family: sans-serif;
            text-align: center;
            justify-content: center;
        }

        table {
            width: 80%;
            border-collapse: collapse;
            justify-content: center;
            margin: 20px 0;
            font-family: Arial, sans-serif;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        }

        table,
        thead {
            background-color: #f4f4f9;
        }

        th,
        td {
            border: 1px solid #ddd;
            padding: 10px 15px;
            text-align: left;
        }

        th {
            font-weight: bold;
        }

        tr:nth-child(even) {
            background-color: #f9f9f9;
        }

        tr:hover {
            background-color: #f1f1f1;
        }

        button {
            background-color: #000;
            color: #fff;
            border: none;
            padding: 8px 15px;
            cursor: pointer;
            border-radius: 4px;
            font-size: 14px;
        }

        button:hover {
            background-color: #444;
        }
    </style>

</head>

<body>

    <h1>Users List</h1>

    <table>
        <tr>
            <th>ID</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Username</th>
            <th>Email</th>
            <th>Action</th>
        </tr>

        <% data.forEach((item)=>{ %>
            <tr>
                <td>
                    <%=item.id%>
                </td>
                <td>
                    <%=item.first_name%>
                </td>
                <td>
                    <%=item.last_name%>
                </td>
                <td>
                    <%=item.username%>
                </td>
                <td>
                    <%=item.email %>
                </td>
                <td>
                    <a href="/detail?id=<%=item.id%>"><button>Detail</button></a>
                </td>
            </tr>
            <% }); %>
    </table>
</body>

</html>